.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile 

data-raw/
data/*
!data/inst
dev/05-progress-MCC02XT0AZJGH5.R
R/deprecated/
R/dev/
R/supporting/
doc/
fig/
*.html
*.pdf
*.docx
._*
.DS_Store